body{
	height: 100vh;
	background:url('http://sermonspiceuploads.s3.amazonaws.com/479/fp_47062/8322b081_full.jpg') no-repeat center ;
	background-size: cover;
	text-align: center;
}

/*   .header-text{
	color: #fff;
	font-size: 40px;
	position: relative;
	display: inline-block;
	margin: 40px 0px 20px;
	border: 10px groove yellow;
    width: webkit-fill-available;
    box-shadow: 6px 7px 4px 5px black;
} */
	.header{
	 color: #ff0000; 
	 font-size: 40px; 
	 position: relative; 
	 display: inline-block; 
	 margin: 40px 0px 20px;
	 border: 10px groove yellow;
     width: webkit-fill-available;
	 box-shadow: 6px 7px 4px 5px black;
}


#timer-div{
	background-color:  #00ECB9;
	color: #fff;
	display: inline-block;
	font-size: 30px;
}
.time-unit, .time-unit > span{
	padding: 10px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}



